a {
    text-decoration: none;
    color: teal;
    transition: all 0.5s;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        background-color: rgba(0, 128, 128, 0.5);
    }
}



.show-img-vue {
    width: 100%;
    height: 400px;
}

.index-img {
    width: 100%;
    height: 350px;
}



.pagination {
    li {
        cursor: pointer;
    }
}

// navbar di Home.vue
.nav-home{
    width: 200px;
}

.nav-home-down {
    width: 80px;
    text-align: center;
}
